attrs==23.1.0
bardapi
bingart
bs4
chardet
# claude-api
curl_cffi
duckduckgo_search[lxml]
edge_tts
fake_useragent
fuzzywuzzy
httpx[socks]
google

# свежая версия выжирает цпу на сервере, а с этой не работают новые модные модельки
gradio_client==0.14.0

groq
langcodes[data]
langdetect
lxml_html_clean
opencv-python
openai==0.28.0
openpyxl
pandas
Pillow
prettytable
Proxy_List_Scrapper
pyenchant
pylatexenc
PyPDF2
PySocks
pytelegrambotapi
python-Levenshtein
SpeechRecognition
sqlitedict
# python -m textblob.download_corpora
textblob
trafilatura
youtube_transcript_api
websocket-client