attrs==23.1.0
bardapi
bs4
chardet
# claude-api
curl_cffi
duckduckgo_search
edge_tts
fake_useragent
fuzzywuzzy
google
langdetect
openai
openpyxl
pandas
prettytable
pyenchant
python-magic
# python-magic-bin
py_trans
# pylibmagic
pylatexenc
PyPDF2
PySocks
python-Levenshtein
telebot
SpeechRecognition
# python -m textblob.download_corpora
textblob
trafilatura
youtube_transcript_api
websocket-client