attrs==23.1.0
bardapi
bingart
bs4
chardet
# claude-api
curl_cffi
duckduckgo_search
edge_tts
fake_useragent
fuzzywuzzy
google
gradio_client
langcodes[data]
langdetect
opencv-python
openai==0.28.0
openpyxl
pandas
Pillow
prettytable
pyenchant
pylatexenc
PyPDF2
PySocks
pytelegrambotapi
python-Levenshtein
SpeechRecognition
sqlitedict
# python -m textblob.download_corpora
textblob
trafilatura
youtube_transcript_api
websocket-client